.mainpage {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    text-align: center;
}

h1 {
    color: black;
}

a {
    color: black;
    background-color: bisque;
    font-weight: 500;
}

.lasagnaclass  {
    font-size: 20px;
}